* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#root {
  background: #333;
  padding: 5%;
  height: 100vh;
  box-sizing: border-box;

}

.App {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  width: calc(70% - 4em);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Mukta', sans-serif;
  flex: 1;
}

.header h1{
  color: #fff;
  font-size: 5rem;
  font-weight: 400;
  margin: 20px 0;
  font-style: italic;
  font-family: 'Rubik Glitch', cursive;
  text-shadow: 
    -2px 0 red,
    -2px -4px rgb(29, 97, 245),
    0 -2px rgb(36, 241, 186),
    -4px -2px rgb(215, 135, 50);
}

.header p {
  color: #fff;
  font-size: 1.5rem;
  display: block;
  padding: 10px 30px;
  text-align: center;
}

.dice-face {
  height: 4rem;
  width: 4rem;
  background-color: rgb(210, 210, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(178, 178, 178, 0.2);
  cursor: pointer;
}

.dice-face:hover {
  background-color: rgb(159, 157, 188);

}

.dice-face.locked {
  background-color: rgb(29, 97, 245);
}

.dice-face p {
  font-size: 2rem;
  font-weight: 700;
}

.dice-pool {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  /* grid-template: auto auto / repeat(5, 1fr);
  gap: 20px; */
}

button {
  padding: 1rem 1.8rem;
  font-size: 1.5rem;
  background:rgb(243, 139, 196); 
  font-weight: 700;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 2rem auto;
}

button:hover {
  background:rgb(243, 139, 196, .5);
  color: rgb(243, 139, 196);
}

.dice-face .one::after {
  content: '';
  background-color: black;
  border-radius: 50px;
}

.roll-record {
  color: white;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

